# Created by https://www.gitignore.io/api/autotools
# Edit at https://www.gitignore.io/?templates=autotools

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

### Autotools Patch ###
# Created by https://www.gitignore.io/api/autotools
# Edit at https://www.gitignore.io/?templates=autotools

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

### Autotools Patch ###
.deps
.libs
libtool
Makefile
test-suite.log
*.log
*.trs

# End of https://www.gitignore.io/api/autotools
# End of https://www.gitignore.io/api/autotools
# Created by https://www.gitignore.io/api/c++,emacs
# Edit at https://www.gitignore.io/?templates=c++,emacs

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exe.*
*.out
*.app

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# End of https://www.gitignore.io/api/c++,emacs

# Example binaries (wrapper scripts)
chord
chord_p
canon
canon_p
merge_sort
rain
rain_p
progress
producer_consumer
producer_consumer_percussion
bubble_sort
insertion_sort
selection_sort
quick_sort
hello_tsal
hello_tsal_threads

# Test binaries
test
mixer
effects

# Doxygen
/html
/latex
/rtf
/man

# Other stuff
vgcore*
.vscode
todo.txt
/external
/bin
/build
compile_commands.json
.cquery
.cquery_cached_index
RtAudio.h
NUL
